<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="home_page.css" />
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-expand-md bg-primary">
      <!-- brand Name -->
      <a class="navbar-brand" href="/">Khadase's library</a>

      <!-- Toggler Button -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#toggling_part"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="toggling_part">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addProducts">Add new product</a>
          </li>
        </ul>
      </div>
    </nav>

    <main>
      <h1 class="Brand_title">Welcome to the Khadase's Library</h1>
      <h5 class="Brand_description">
        Where you can Purchase, sell, take books on rent and even rent your
        books because we handle them with care!
      </h5>
      <hr />

      <!-- Tranding books section -->
      <h2 class="Tranding_books">Tranding this week</h2>
      <br /><br />
      <!-- Tanding books Card row1 -->
      <div class="card-deck">
        <div class="card" style="width: 400px">
          <img
            class="card-img-top"
            src="https://source.unsplash.com/400x300/?nature,water"
            alt="Immage error"
          />
          <div class="card-body">
            <h4 class="card-title">Book 1</h4>
            <p class="card-text">
              <span style="color: #1b89dd">Rs. 400 </span><br />
              Awsome book, really inspiring and Motivating
            </p>
            <a class="btn btn-primary" href="#">Add to Cart</a>
          </div>
        </div>
        <div class="card" style="width: 400px">
          <img
            class="card-img-top"
            src="https://source.unsplash.com/400x300/?dogs"
            alt="Immage error"
          />
          <div class="card-body">
            <h4 class="card-title">Book 1</h4>
            <p class="card-text">
              <span style="color: #1b89dd">Rs. 400 </span><br />
              Awsome book, really inspiring and Motivating
            </p>
            <a class="btn btn-primary" href="#">Add to Cart</a>
          </div>
        </div>
        <div class="card" style="width: 400px">
          <img
            class="card-img-top"
            src="https://source.unsplash.com/400x300/?cats"
            alt="Immage error"
          />
          <div class="card-body">
            <h4 class="card-title">Book 1</h4>
            <p class="card-text">
              <span style="color: #1b89dd">Rs. 400 </span><br />
              Awsome book, really inspiring and Motivating
            </p>
            <a class="btn btn-primary" href="#">Add to Cart</a>
          </div>
        </div>
      </div>
      <br /><br />

      <!-- Tanding books Card row2 -->
      <div class="card-deck">
        <div class="card" style="width: 400px">
          <img
            class="card-img-top"
            src="https://source.unsplash.com/400x300/?nature,water"
            alt="Immage error"
          />
          <div class="card-body">
            <h4 class="card-title">Book 1</h4>
            <p class="card-text">
              <span style="color: #1b89dd">Rs. 400 </span><br />
              Awsome book, really inspiring and Motivating
            </p>
            <a class="btn btn-primary" href="#">Add to Cart</a>
          </div>
        </div>
        <div class="card" style="width: 400px">
          <img
            class="card-img-top"
            src="https://source.unsplash.com/400x300/?dogs"
            alt="Immage error"
          />
          <div class="card-body">
            <h4 class="card-title">Book 1</h4>
            <p class="card-text">
              <span style="color: #1b89dd">Rs. 400 </span><br />
              Awsome book, really inspiring and Motivating
            </p>
            <a class="btn btn-primary" href="#">Add to Cart</a>
          </div>
        </div>
        <div class="card" style="width: 400px">
          <img
            class="card-img-top"
            src="https://source.unsplash.com/400x300/?cats"
            alt="Immage error"
          />
          <div class="card-body">
            <h4 class="card-title">Book 1</h4>
            <p class="card-text">
              <span style="color: #1b89dd">Rs. 400 </span><br />
              Awsome book, really inspiring and Motivating
            </p>
            <a class="btn btn-primary" href="#">Add to Cart</a>
          </div>
        </div>
      </div>
      <hr />

      <!-- Books on sale -->
      <h2 class="Books_On_Sale">Books On Sale: Grab them all!</h2>
      <br /><br />

      <div class="card-deck">
        <div class="card" style="width: 400px">
          <img
            class="card-img-top"
            src="https://source.unsplash.com/400x300/?nature,water"
            alt="Immage error"
          />
          <div class="card-body">
            <h4 class="card-title">Book 1</h4>
            <p class="card-text">
              <span style="color: #1b89dd">Rs. 400 </span><br />
              Awsome book, really inspiring and Motivating
            </p>
            <a class="btn btn-primary" href="#">Add to Cart</a>
          </div>
        </div>
        <div class="card" style="width: 400px">
          <img
            class="card-img-top"
            src="https://source.unsplash.com/400x300/?dogs"
            alt="Immage error"
          />
          <div class="card-body">
            <h4 class="card-title">Book 1</h4>
            <p class="card-text">
              <span style="color: #1b89dd">Rs. 400 </span><br />
              Awsome book, really inspiring and Motivating
            </p>
            <a class="btn btn-primary" href="#">Add to Cart</a>
          </div>
        </div>
        <div class="card" style="width: 400px">
          <img
            class="card-img-top"
            src="https://source.unsplash.com/400x300/?cats"
            alt="Immage error"
          />
          <div class="card-body">
            <h4 class="card-title">Book 1</h4>
            <p class="card-text">
              <span style="color: #1b89dd">Rs. 400 </span><br />
              Awsome book, really inspiring and Motivating
            </p>
            <a class="btn btn-primary" href="#">Add to Cart</a>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Contact US?</h1>
          <p class="lead">
            Email Address: pushkarkhadase@gmail.com<br><br>
            Phone Number: 7620698363
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
